@using MiniMate.Layout.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NavigationResources> Localizer
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="profile">@Localizer["Profile"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
