@page "/"
@using MiniMate.Profile.Contracts
@using MiniMate.Home.Resources
@using Microsoft.Extensions.Localization
@inject IProfileService ProfileService
@inject IStringLocalizer<HomeResources> Localizer

<PageTitle>@Localizer["PageTitle"]</PageTitle>

<div class="home-greeting">
    <h1 class="page-title">@Localizer["Greeting", UserName]</h1>
    <p>@Localizer["ExploreToday"]</p>
    <div class="home-logo-container">
        <img src="favicon.svg" alt="MiniMate" class="home-logo" />
    </div>
</div>
